body{
    
    background-image: url(https://wallpaperaccess.com/full/5692485.png);
}
#app{
    height: 100vh;
}
span{
    cursor: pointer;
}

.text-color{
    
    font-size: 5rem;
    font-style: oblique;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}